Body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#heading{
    height: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(115, 115, 199);

}
h1{
    font-size: 20px;
    color: azure;
    font-weight: bold;
}
.profiles{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
}
img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    
}
.cards{
    padding: 10px 5px;
    text-align: center;
    border: 2px black solid;
    margin-left: 10px;
    
}
.but{
    margin-top: 20px;
}
.input{
    margin-left: 40vw;
    width: 200px;
    height:30px;
    font-size: 25px;
    padding-left: 1vw;
}
button{
    
    width: 200px;
    height:30px;
    background-color: rgb(134, 85, 199);
    color: white;
    margin-left: 1vh;
}

